.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.search-input {
  font-size: 45px;
}

.search-btn {
  font-size: 40px;
}

.question {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 2px solid black;
}

.questioner {
  font-size: 60px;
  color: green;
  margin: 10px 0px;
}

.text {
  font-size: 50px;
}

.answer-link {
  font-size: 70px;
  padding: 0px 8px;
  border: 2px solid red;
  background-color: yellow;
  margin: 20px;
}