.container {

}

.new-field {
  margin: 10px 0px;
}

.field, .send-btn {
  font-size: 50px;
  margin: 50px;
}

.inner {
  font-size: 40px;
}

.hissu {
  font-size: 40px;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 10%;
  padding: 2px;
  margin-left: 10px;
}

.ninni {
  font-size: 40px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: black;
  border-radius: 10%;
  padding: 2px;
  margin-left: 10px;
}