.container {

}

.new_field {
  margin: 10px 0px;
}

.hissu {
  font-size: smaller;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 10%;
  padding: 2px;
  margin-left: 10px;
}

.ninni {
  font-size: smaller;
  color: #FFFFFF;
  font-weight: bold;
  background-color: black;
  border-radius: 10%;
  padding: 2px;
  margin-left: 10px;
}